* {
	padding: 0;
	margin: 0;
}

body {
	padding-left: 10px;
}

#title {
	text-align: center;
}

ul {
	text-align: center;
}

#high-score {
	width: 30%;
	text-align: right;
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
}

canvas {
	background: rgb(242,233,216);
	display: block;
	margin: 0 auto;
}