* {
	padding: 0;
	margin: 0;
}

body {
	padding-left: 10px;
}

#title {
	text-align: center;
}

ul {
	text-align: center;
	line-height: 1.5;
}

#high-score {
	width: 30%;
	text-align: right;
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
}

#ammo {
	width: 30%;
	text-align: right;
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
}

canvas {
	background: rgb(34,139,34);
	width: 375px;
	display: block;
	margin: 0 auto;
}